
@{
    ViewBag.Title = "CoursesByType";
    Layout = "~/Areas/Student/Views/Shared/_Layout.cshtml";
    var info = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
    var price = 0;
}
<script src="~/assets/Users/js/loadCourseByType.js"></script>
<div class="page-content bg-white">
    <!-- inner page banner -->
    <div class="page-banner ovbl-dark" style="background-image:url(../../../Assets/Users/images/banner/banner3.jpg);">
        <div class="container">
            <div class="page-banner-entry">
                <h1 class="text-white" id="title">@ViewBag.name</h1>
            </div>
        </div>
    </div>
    <!-- Breadcrumb row -->
    <div class="breadcrumb-row">
        <div class="container">
            <div class="loadList">
                <!--=====load list inline-->
                <!--=====================-->
            </div>

        </div>
    </div>
    <!-- Breadcrumb row END -->
    <!-- inner page banner END -->
    <div class="content-block">
        <!-- About Us -->
        <div class="section-area section-sp1">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-12 m-b30">
                        <div class="widget courses-search-bx placeani">
                            <div class="form-group">
                                <div class="input-group">
                                    <label>Search Courses</label>
                                    <input name="dzName" type="text" required class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="widget courses-search-bx placeani">
                            <div class="form-group">
                                <div class="input-group">
                                    <label>Price</label>
                                    <input name="dzName" type="text" required class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="widget widget_archive">
                            <div class="loadTitle">
                                <h5 class="widget-title style-1">Our Courses</h5>
                            </div>


                            <div class="loadCate">
                                <!--======== Load Cateogries =======-->
                            </div>
                        </div>
                        <div class="widget">
                            <a href="#"><img src="~/Assets/Users/images/adv/adv.jpg" alt="" /></a>
                        </div>
                        <div class="widget recent-posts-entry widget-courses">
                            <h5 class="widget-title style-1">Recent Courses</h5>
                            <div class="widget-post-bx">
                                <div class="widget-post clearfix">
                                    <div class="ttr-post-media"> <img src="~/Assets/Users/images/blog/recent-blog/pic1.jpg" width="200" height="143" alt=""> </div>
                                    <div class="ttr-post-info">
                                        <div class="ttr-post-header">
                                            <h6 class="post-title"><a href="#">Introduction EduChamp</a></h6>
                                        </div>
                                        <div class="ttr-post-meta">
                                            <ul>
                                                <li class="price">
                                                    <del>$190</del>
                                                    <h5>$120</h5>
                                                </li>
                                                <li class="review">03 Review</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="widget-post clearfix">
                                    <div class="ttr-post-media"> <img src="~/Assets/Users/images/blog/recent-blog/pic3.jpg" width="200" height="160" alt=""> </div>
                                    <div class="ttr-post-info">
                                        <div class="ttr-post-header">
                                            <h6 class="post-title"><a href="#">English For Tommorow</a></h6>
                                        </div>
                                        <div class="ttr-post-meta">
                                            <ul>
                                                <li class="price">
                                                    <h5 class="free">Free</h5>
                                                </li>
                                                <li class="review">07 Review</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-8 col-sm-12">
                        <!--=======Load course ========-->
                        <div class="loadCourse">
                            <div class="upCourse">

                                <div class="row">

                                    @{ int stt = 0;}
                                    @foreach (var course in ViewBag.Course)
                                    {
                                        { price = course.price - (course.price * course.discount) / 100; }
                                        <div class="col-md-6 col-lg-4 col-sm-6 m-b30">
                                            <div class="cours-bx">
                                                <div class="action-box">
                                                    <img src="~/assets/Pictures/ImagesCourse/@course.thumbnail" alt="imageCourse" style="width: 263px; height: 147px;">
                                                    <a href="/Student/Courses/CourseDetail/@course.id" class="btn">Read More</a>
                                                </div>
                                                <div class="info-bx text-center">
                                                    <h5><a href="#">@course.name</a></h5>
                                                    <span>@course.short_description</span>
                                                </div>
                                                <div class="cours-more-info">
                                                    <div class="review" style="padding-left: 10px; width: 160px;">
                                                        <span>3 Review</span>
                                                        <ul class="cours-star">
                                                            <li class="active"><i class="fa fa-star"></i></li>
                                                            <li class="active"><i class="fa fa-star"></i></li>
                                                            <li class="active"><i class="fa fa-star"></i></li>
                                                            <li><i class="fa fa-star"></i></li>
                                                            <li><i class="fa fa-star"></i></li>
                                                        </ul>
                                                    </div>
                                                    @if (Convert.ToInt32(Session["UserId"]) == 0)
                                                    {
                                                        <div class="favorite">
                                                            <label for="checkbox">
                                                                <svg class="heart-svg" viewBox="467 392 58 57" xmlns="http://www.w3.org/2000/svg">
                                                                    <g class="Group" fill="none" fill-rule="evenodd" transform="translate(467 392)">
                                                                        <path d="M29.144 20.773c-.063-.13-4.227-8.67-11.44-2.59C7.63 28.795 28.94 43.256 29.143 43.394c.204-.138 21.513-14.6 11.44-25.213-7.214-6.08-11.377 2.46-11.44 2.59z"
                                                                              class="hearts" fill="#AAB8C2" data-id="@course.id" data-stt="@stt" />
                                                                    </g>
                                                                </svg>
                                                            </label>
                                                        </div>
                                                    }
                                                    else if (Convert.ToInt32(Session["UserId"]) != 0)
                                                    {
                                                        <div class="favorite">
                                                            <label for="checkbox">
                                                                <svg class="heart-svg" viewBox="467 392 58 57" xmlns="http://www.w3.org/2000/svg">
                                                                    <g class="Group" fill="none" fill-rule="evenodd" transform="translate(467 392)">
                                                                        @if (course.id_student == Convert.ToInt32(Session["UserId"]))
                                                                        {
                                                                            //Student like Course ==> color ==
                                                                            <path d="M29.144 20.773c-.063-.13-4.227-8.67-11.44-2.59C7.63 28.795 28.94 43.256 29.143 43.394c.204-.138 21.513-14.6 11.44-25.213-7.214-6.08-11.377 2.46-11.44 2.59z"
                                                                                  class="heart" fill="#FF0000" data-id="@course.id" data-stt="@stt" />
                                                                        }
                                                                        else
                                                                        {
                                                                            <path d="M29.144 20.773c-.063-.13-4.227-8.67-11.44-2.59C7.63 28.795 28.94 43.256 29.143 43.394c.204-.138 21.513-14.6 11.44-25.213-7.214-6.08-11.377 2.46-11.44 2.59z"
                                                                                  class="heart" fill="#AAB8C2" data-id="@course.id" data-stt="@stt" />
                                                                        }

                                                                    </g>
                                                                </svg>
                                                            </label>
                                                        </div>
                                                    }

                                                    @{if (Convert.ToInt32(course.discount) == 0)
                                                        {
                                                            <div class="price">
                                                                @*<del>@String.Format(info, "{0:C0}", course.price)</del>*@
                                                                <h5> $@course.price</h5>
                                                            </div>
                                                        }
                                                        else
                                                        {
                                                            <div class="price">
                                                                <del>$@course.price</del>
                                                                <h5> $@price</h5>
                                                            </div>
                                                        }
                                                    }
                                                </div>
                                            </div>
                                        </div>

                                        stt = stt + 1;
                                    }


                                    <div class="col-lg-12 m-b20">
                                        <div class="pagination-bx rounded-sm gray clearfix">
                                            <ul class="pagination">
                                                <li class="previous"><a href="#"><i class="ti-arrow-left"></i> Prev</a></li>
                                                <li class="active"><a href="#">1</a></li>
                                                <li><a href="#">2</a></li>
                                                <li><a href="#">3</a></li>
                                                <li class="next"><a href="#">Next <i class="ti-arrow-right"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <!--====== End load Couse========-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- contact area END -->
</div>


@section loadByType{

    <script>
        $.ajax({
            url: "/Student/Courses/LoadCategories",
            success: function (result) {
                $(".loadCate").html(result);
            }
        });
    </script>
}

