
@{
    ViewBag.Title = "CourseDetail1";
    Layout = "~/Areas/Student/Views/Shared/_Layout.cshtml";
    var course = ViewBag.Course;
    var teacher = ViewBag.Teacher;
    var process = ViewBag.process;
    var percent = ViewBag.percent;
    var count = ViewBag.Curriculum.Count;
    var info = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
    Session["stt"] = 0;
    Session["end"] = ViewBag.total;
    Session["idcourse"] = ViewBag.Course.id;
    Session["oldProcess"] = process.process1;

}


<!-- Content -->

<div class="page-content bg-white">
    <!-- inner page banner -->
    <div class="page-banner ovbl-dark" style="background-image: url(../../../Assets/Users/images/banner/banner2.jpg);">
        <div class="container">
            <div class="page-banner-entry">
                <h1 class="text-white">Courses Details</h1>
            </div>
        </div>
    </div>
    <!-- Breadcrumb row -->
    <div class="breadcrumb-row">
        <div class="container">
            <ul class="list-inline">
                <li><a href="/">Home</a></li>
                <li>Courses Details</li>
            </ul>
        </div>
    </div>
    <!-- Breadcrumb row END -->
    <!-- inner page banner END -->
    <div class="content-block">
        <!-- About Us -->
        <div class="section-area section-sp1">
            <div class="container">
                <div class="row d-flex flex-row-reverse">
                    <div class="col-lg-3 col-md-4 col-sm-12 m-b30">
                        <div class="course-detail-bx">
                            <div class="course-price">
                                @*<del>@String.Format(info, "{0:C0}", course.price)</del>
                                    <h4 class="price">@String.Format(info, "{0:C0}", course.discount)</h4>*@
                                @*<img src="~/assets/Pictures/ImagesCourse/@course.thumbnail" alt=".avatar" />*@
                            </div>

                            <div class="teacher-skills">
                                <div class="side">
                                    <div>Process</div>
                                </div>
                                <div class="middle">
                                    <div class="bar-container">
                                        <div class="bar-5" style="width:@percent%;"></div>
                                    </div>
                                </div>
                                <div class="side right">
                                    <div>@process.process1 / @ViewBag.total</div>
                                </div>
                            </div>

                            <div class="teacher-bx">
                                <div class="teacher-info">
                                    <div class="teacher-thumb">
                                        <img src="@teacher.avatar" alt="" />
                                    </div>
                                    <div class="teacher-name">
                                        <h5>@teacher.name</h5>
                                        <span>@teacher.major</span>
                                    </div>
                                </div>
                            </div>
                            <div class="cours-more-info">
                                <div class="review">
                                    <span>3 Review</span>
                                    <ul class="cours-star">
                                        <li class="active"><i class="fa fa-star"></i></li>
                                        <li class="active"><i class="fa fa-star"></i></li>
                                        <li class="active"><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                </div>
                                <div class="price categories">
                                    @if (Convert.ToInt32(Session["UserId"]) == 0)
                                    {
                                        <div class="favorite">
                                            <label for="checkbox">
                                                <svg class="heart-svg" viewBox="467 392 58 57" xmlns="http://www.w3.org/2000/svg">
                                                    <g class="Group" fill="none" fill-rule="evenodd" transform="translate(467 392)">
                                                        <path d="M29.144 20.773c-.063-.13-4.227-8.67-11.44-2.59C7.63 28.795 28.94 43.256 29.143 43.394c.204-.138 21.513-14.6 11.44-25.213-7.214-6.08-11.377 2.46-11.44 2.59z"
                                                              class="heart" fill="#AAB8C2" data-id="@course.id" />
                                                    </g>
                                                </svg>
                                            </label>
                                        </div>
                                    }
                                    else if (Convert.ToInt32(Session["UserId"]) != 0)
                                    {
                                        <div class="favorite">
                                            <label for="checkbox">
                                                <svg class="heart-svg" viewBox="467 392 58 57" xmlns="http://www.w3.org/2000/svg">
                                                    <g class="Group" fill="none" fill-rule="evenodd" transform="translate(467 392)">
                                                        @if (course.id_student == Convert.ToInt32(Session["UserId"]))
                                                        {
                                                            //Student like Course ==> color ==
                                                            <path d="M29.144 20.773c-.063-.13-4.227-8.67-11.44-2.59C7.63 28.795 28.94 43.256 29.143 43.394c.204-.138 21.513-14.6 11.44-25.213-7.214-6.08-11.377 2.46-11.44 2.59z"
                                                                  class="heart" fill="#FF0000" data-id="@course.id" />
                                                        }
                                                        else
                                                        {
                                                            <path d="M29.144 20.773c-.063-.13-4.227-8.67-11.44-2.59C7.63 28.795 28.94 43.256 29.143 43.394c.204-.138 21.513-14.6 11.44-25.213-7.214-6.08-11.377 2.46-11.44 2.59z"
                                                                  class="heart" fill="#AAB8C2" data-id="@course.id" />
                                                        }

                                                    </g>
                                                </svg>
                                            </label>
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="course-info-list scroll-page">
                                <ul class="navbar">
                                    <li><a class="nav-link" href="#overview"><i class="ti-zip"></i>Overview</a></li>
                                    <li><a class="nav-link" href="#curriculum"><i class="ti-bookmark-alt"></i>Curriculum</a></li>
                                    <li><a class="nav-link" href="#instructor"><i class="ti-user"></i>Instructor</a></li>
                                    <li><a class="nav-link" href="#reviews"><i class="ti-comments"></i>Reviews</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-9 col-md-8 col-sm-12">
                        <div class="courses-post">
                            <div class="ttr-post-media media-effect">
                                <a href="#">
                                    @*<img src="~/assets/Pictures/ImagesCourse/@course.thumbnail" alt=".avatar" />*@
                                    <video width="800" controls>

                                            <source src="~/assets/Videos/@course.preview" type="video/mp4" />

                                            Your browser does not support HTML video.
                                        </video>
                                </a>
                            </div>
                            <div class="ttr-post-info">
                                <div class="ttr-post-title ">
                                    <h2 class="post-title">@course.name</h2>
                                    @{ Session["course"] = course.name;
                                        Session["idCourse"] = course.id;}
                                </div>
                                <div class="ttr-post-text">
                                    <p>@course.description</p>
                                </div>
                            </div>
                        </div>
                        <div class="courese-overview" id="overview">
                            <h4>Overview</h4>
                            <div class="row">
                                <div class="col-md-12 col-lg-4">
                                    <ul class="course-features">
                                        <li><i class="ti-book"></i> <span class="label">Chapter</span> <span class="value">@count</span></li>
                                        @*<li><i class="ti-help-alt"></i> <span class="label">Quizzes</span> <span class="value">1</span></li>*@
                                        <li><i class="ti-time"></i> <span class="label">Duration</span> <span class="value">60 hours</span></li>
                                        <li><i class="ti-stats-up"></i> <span class="label">Skill level</span> <span class="value">Beginner</span></li>
                                        <li><i class="ti-smallcap"></i> <span class="label">Language</span> <span class="value">English</span></li>
                                        <li><i class="ti-user"></i> <span class="label">Students</span> <span class="value">32</span></li>
                                        @*<li><i class="ti-check-box"></i> <span class="label">Assessments</span> <span class="value">Yes</span></li>*@
                                    </ul>
                                </div>
                                <div class="col-md-12 col-lg-8">
                                    <h5 class="m-b5">Course Description</h5>
                                    <p>@course.description</p>
                                    @*<h5 class="m-b5">Learning Outcomes</h5>
                                        <ul class="list-checked primary">
                                            <li>Over 37 lectures and 55.5 hours of content!</li>
                                            <li>LIVE PROJECT End to End Software Testing Training Included.</li>
                                            <li>Learn Software Testing and Automation basics from a professional trainer from your own desk.</li>
                                            <li>Information packed practical training starting from basics to advanced testing techniques.</li>
                                            <li>Best suitable for beginners to advanced level users and who learn faster when demonstrated.</li>
                                            <li>Course content designed by considering current software testing technology and the job market.</li>
                                            <li>Practical assignments at the end of every session.</li>
                                            <li>Practical learning experience with live project work and examples.cv</li>
                                        </ul>*@
                                </div>
                            </div>
                        </div>
                        <div class="m-b30" id="curriculum">
                            <h4>Curriculum</h4>
                            <div id="loadCurriculum" data-idCourse="@course.id">

                                <!--Load Curriculum-->
                            </div>

                        </div>
                        <div class="" id="instructor">
                            <h4>Instructor</h4>
                            <div class="instructor-bx">
                                <div class="instructor-author">
                                    <a href="/Student/MyCourse/InstructorDetail/@teacher.id">
                                        <img src="@teacher.avatar" alt="avatar.jpg" />
                                    </a>
                                </div>
                                <div class="instructor-info">
                                    <h6>@teacher.name </h6>
                                    <span>@teacher.major</span>
                                    <ul class="list-inline m-tb10">
                                        <li><a href="#" class="btn sharp-sm facebook"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#" class="btn sharp-sm twitter"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#" class="btn sharp-sm linkedin"><i class="fa fa-linkedin"></i></a></li>
                                        <li><a href="#" class="btn sharp-sm google-plus"><i class="fa fa-google-plus"></i></a></li>
                                    </ul>
                                    <p class="m-b0">@teacher.description</p>
                                </div>
                            </div>
                        </div>
                        <div class="" id="reviews">
                            <h4>Reviews</h4>

                            <div class="review-bx">
                                <div class="all-review">
                                    <h2 class="rating-type">3</h2>
                                    <ul class="cours-star">
                                        <li class="active"><i class="fa fa-star"></i></li>
                                        <li class="active"><i class="fa fa-star"></i></li>
                                        <li class="active"><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                    <span>3 Rating</span>
                                </div>
                                <div class="review-bar">
                                    <div class="bar-bx">
                                        <div class="side">
                                            <div>5 star</div>
                                        </div>
                                        <div class="middle">
                                            <div class="bar-container">
                                                <div class="bar-5" style="width:90%;"></div>
                                            </div>
                                        </div>
                                        <div class="side right">
                                            <div>150</div>
                                        </div>
                                    </div>
                                    <div class="bar-bx">
                                        <div class="side">
                                            <div>4 star</div>
                                        </div>
                                        <div class="middle">
                                            <div class="bar-container">
                                                <div class="bar-5" style="width:70%;"></div>
                                            </div>
                                        </div>
                                        <div class="side right">
                                            <div>140</div>
                                        </div>
                                    </div>
                                    <div class="bar-bx">
                                        <div class="side">
                                            <div>3 star</div>
                                        </div>
                                        <div class="middle">
                                            <div class="bar-container">
                                                <div class="bar-5" style="width:50%;"></div>
                                            </div>
                                        </div>
                                        <div class="side right">
                                            <div>120</div>
                                        </div>
                                    </div>
                                    <div class="bar-bx">
                                        <div class="side">
                                            <div>2 star</div>
                                        </div>
                                        <div class="middle">
                                            <div class="bar-container">
                                                <div class="bar-5" style="width:40%;"></div>
                                            </div>
                                        </div>
                                        <div class="side right">
                                            <div>110</div>
                                        </div>
                                    </div>
                                    <div class="bar-bx">
                                        <div class="side">
                                            <div>1 star</div>
                                        </div>
                                        <div class="middle">
                                            <div class="bar-container">
                                                <div class="bar-5" style="width:20%;"></div>
                                            </div>
                                        </div>
                                        <div class="side right">
                                            <div>80</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- contact area END -->
</div>

<script src="~/assets/Users/js/process.js"></script>
@section load{
    <script>

        var idCourse = @course.id;
        console.log(idCourse);
        $.ajax({
            url: "/Student/Courses/LoadCurriculum",
            data: { idCourse: idCourse },
            success: function (result) {
                $("#loadCurriculum").html(result);
            }
        });

        

        $(document).on('click', 'path', function () {
            console.log("click tim");
            debugger;
            var id = $(this).data("id");
            var currentColor = document.getElementsByTagName("path")[0].getAttribute("fill");

            if (currentColor == "#AAB8C2") {
                ;
                document.getElementsByTagName("path")[0].setAttribute("fill", "#FF0000");
                $.ajax({
                    url: "/Student/Courses/Like",
                    data: { idCourse: id },
                    success: function (result) {
                        //if (result == true) {
                        //document.getElementsByTagName("path")[stt].setAttribute("fill", "#FF0000");
                        alert('Like');
                        //}

                    }
                });


            }
            // remove like the course
            else if (currentColor == "#FF0000") {
                //document.getElementsByTagName("path")[stt].setAttribute("fill", "#AAB8C2");
                $.ajax({
                    url: "/Student/Courses/RemoveLike",
                    data: { idCourse: id },
                    success: function (result) {
                        //if (result == true) {
                        document.getElementsByTagName("path")[0].setAttribute("fill", "#AAB8C2");
                        alert('RemoveLike');
                        //}

                    }
                });
            }


        });



    </script>
    <script>
        $(document).ready(function () {
            console.log("document loaded");
            $(".lesson").click(function () {
                debugger;
                var stt = $(this).data("id");

                var them = document.getElementById(stt);
                if (them.style.display === "none") {
                    them.style.display = "block";
                }
                else {
                    them.style.display = "none";
                }
            });
        });
    </script>
    <script src="~/assets/Users/js/process.js"></script>
}



