
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Areas/Teacher/Views/Shared/_Layout.cshtml";
}

<main class="ttr-wrapper">
    <div class="container-fluid">
        <div class="db-breadcrumb">
            <h4 class="breadcrumb-title">Dashboard</h4>
            <ul class="db-breadcrumb-list">
                <li><a href="#"><i class="fa fa-home"></i>Home</a></li>
                <li>Dashboard</li>
            </ul>
        </div>
        <!-- Card -->
        <div class="row">
            <div class="col-md-6 col-lg-4 col-xl-4 col-sm-6 col-12">
                <div class="widget-card widget-bg1">
                    <div class="wc-item">
                        <h4 class="wc-title">
                            Total Reveneu
                        </h4>
                        <span class="wc-des">
                           Reveneu
                        </span>
                        <span class="wc-stats">
                            $@ViewBag.totalreveneu
                        </span>
                       
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-4 col-sm-6 col-12">
                <div class="widget-card widget-bg2">
                    <div class="wc-item">
                        <h4 class="wc-title">
                            Total Course
                        </h4>
                        <span class="wc-des">
                            Course
                        </span>
                        <span class="wc-stats">
                            @ViewBag.numcourse
                        </span>
                        
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-4 col-sm-6 col-12">
                <div class="widget-card widget-bg3">
                    <div class="wc-item">
                        <h4 class="wc-title">
                            Total Student
                        </h4>
                        <span class="wc-des">
                            User
                        </span>
                        <span class="wc-stats">
                            @ViewBag.totalstudent
                        </span>
                       
                    </div>
                </div>
            </div>
           
        </div>
        <!-- Card END -->
        <div class="row">
            <table class="table table-striped" id="reveneu" style="width: 100%;">
                <thead>
                    <tr id="list-header">
                        <th scope="col">Name Course</th>
                        <th scope="col">Price</th>
                        <th scope="col">Discount</th>
                        <th scope="col">Number of Students</th>
                        <th scope="col">Total $</th>
                      
                    </tr>
                </thead>
                <tbody>
                    @for (int i=0;i< ViewBag.listcourse.Count;i++)
                    {
                        <tr>
                            <td>@ViewBag.listcourse[i].name</td>
                            <td>@ViewBag.listcourse[i].price$</td>
                            <td>@ViewBag.listcourse[i].discount%</td>
                            <td>@ViewBag.numberstudent[i]</td>
                            <td>@ViewBag.reveneutotal[i]$</td>
                        </tr>
                    }
                </tbody>
            </table>
          
           
           
        </div>
    </div>
</main>

