@model Online_Academy.Models.Course 
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_adminLayoutPage.cshtml";
    var finalPrice = 0;
}

<div class="card-header">
    Search
    @using (Html.BeginForm("Index", "Course", FormMethod.Get))
    {
        <input type="text" name="txtSearch" placeholder="Search!" />
        <button type="submit" class="btn btn-warning">Search</button>
    }
</div>

<div class="widget-box">
    <div class="widget-inner">
        @foreach (var course in ViewBag.courses)
        {
            { finalPrice = course.price * (100 - course.discount) / 100; }
            <div class="card-courses-list admin-courses">
                <div class="card-courses-media">
                    <img src="/Assets/Pictures/ImagesCourse/@course.thumbnail" alt="">
                </div>
                <div class="card-courses-full-dec">
                    <div class="card-courses-title">
                        <h4>@course.name</h4>
                    </div>
                    <div class="card-courses-list-bx">
                        <ul class="card-courses-view">
                            <li class="card-courses-user">
                                <div class="card-courses-user-pic">
                                    <img src="@course.Teacher.User.avatar" alt="">
                                </div>
                                <div class="card-courses-user-info">
                                    <h5>Teacher</h5>
                                    <h4>@course.Teacher.User.name</h4>
                                </div>
                            </li>
                            <li class="card-courses-categories">
                                <h5>Categories</h5>
                                <h4>@course.Teacher.User.major</h4>
                            </li>
                            @if (course.state == false)
                            {
                                <li class="card-courses-stats">
                                    <div class="btn button-sm green radius-xl">Pending</div>
                                </li>
                            }
                            @if (course.discount == 0)
                            {
                                <li class="card-courses-price">
                                    <h5 class="text-primary">$@course.price</h5>
                                </li>
                            }
                            else
                            {
                                <li class="card-courses-price">
                                    <del>$@course.price</del>
                                    <h5 class="text-primary">$@finalPrice</h5>
                                </li>
                            }
                        </ul>
                    </div>
                    <div class="row card-courses-dec">
                        <div class="col-md-12">
                            <h6 class="m-b10">Course Description</h6>
                            <p>@course.description</p>
                        </div>
                        <div class="col-md-12">
                            <button class="btn green radius-xl outline approveBtn" data-id="@course.id">Approve</button>
                            <button class="btn red outline radius-xl cancelBtn" data-id="@course.id">Cancel</button>
                        </div>
                    </div>

                </div>
            </div>
        }

        <div class="card-footer">
            <nav aria-label="Page navigation example">
                <ul class="pagination">

                    @{
                        int position;
                        int pageCurrent = ViewBag.pageCurrent;
                        string txtSearch = ViewBag.txtSearch;
                        float numSize = ViewBag.numSize;
                        if (pageCurrent > 1)
                        {
                            <li class="page-item">
                                <a class="page-link" href="@Url.Action("Index", "Course", new { txtSearch = (txtSearch != "" ? txtSearch : null), page = pageCurrent-1 })" tabindex="-1">Previous</a>
                            </li>
                        }

                        for (position = 1; position <= numSize; position++)
                        {

                            if (position == pageCurrent)
                            {
                                <li class="page-item active"><a class="page-link" href="@Url.Action("Index", "Course", new { txtSearch = (txtSearch != "" ? txtSearch : null), page = position })">@position</a></li>
                            }

                            else
                            {
                                <li class="page-item"><a class="page-link" href="@Url.Action("Index", "Course", new { txtSearch = (txtSearch != "" ? txtSearch : null), page = position })">@position</a></li>
                            }

                        }
                        if (pageCurrent > 0 && pageCurrent < numSize)
                        {
                            <li class="page-item">
                                <a class="page-link" href="@Url.Action("Index", "Course", new { txtSearch = (txtSearch != "" ? txtSearch : null), page = pageCurrent+1 })" tabindex="-1">Next</a>
                            </li>
                        }

                    }

                </ul>
            </nav>
        </div>
    </div>
</div>


@section script {
    <script src="~/Assets/Admin/js/manageCourse.js"></script>
    }
