@model Online_Academy.Models.User
@{
    ViewBag.Title = "ChangeProfileTeacher";
    Layout = "~/Areas/Admin/Views/Shared/_adminLayoutPage.cshtml";
}


<div class="row">
    <!-- Your Profile Views Chart -->
    <div class="col-lg-12 m-b30">
        <div class="widget-box">
            <div class="wc-title">
                <h4>Teacher Profile</h4>
            </div>
            <div class="widget-inner">

                <div class="form-group row">
                    @Html.Label("Avatar ", htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                    <div class="col-md-7">
                        <img id="picUpload" width="280px" border-radius="20px" src="@Model.avatar" />
                        <input type="file" id="fileUpload" accept="image/*" name="fileUpload" style="display: none" />
                        <br />
                        <input type="button" id="btnUpload" class="btn btn-primary" value="Change" />
                    </div>
                </div>
                @section script
{
                    <script>
                        $(function () {
                            // event click button change
                            $('#btnUpload').click(function () {
                                $('#fileUpload').trigger('click')
                            });

                            //change data fileUpload
                            $('#fileUpload').change(function () {
                                //kiem tra  trinh duyet co ho tro Formdata
                                if (window.FormData !== undefined) {
                                    //Lay du lieu tren fileUpload
                                    var fileUpload = $('#fileUpload').get(0);
                                    var files = fileUpload.files;
                                    //tao doi tuong formdata
                                    var formData = new FormData();
                                    //dua du lieu vao form
                                    formData.append('file', files[0]);
                                    $.ajax({
                                        type: 'POST',
                                        url: '/Account/Upload',
                                        contentType: false, //khong co header
                                        processData: false,// khong xu li du lieu
                                        data: formData,
                                        success: function (urlImage) {
                                            $('#picUpload').attr('src', urlImage);

                                        },
                                        error: function (err) {
                                            alert('Error ' + err.statusText);
                                        }
                                    });
                                }
                            });
                        });
                    </script>
                }

                @using (Html.BeginForm("ChangeProfileTeacher", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.id)

                        <div class="form-group row">
                            @Html.Label("Full name", htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                            <div class="col-sm-7">
                                @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group row">
                            @Html.Label("Mail", htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                            <div class="col-md-7">
                                @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control", type = "email" } })
                                @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group row">
                            @Html.Label("Major ", htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                            <div class="col-sm-7">
                                @Html.EditorFor(model => model.major, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.major, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group row">
                            @Html.Label("Description ", htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                            <div class="col-md-7">
                                @Html.TextAreaFor(model => model.Teacher.description, 4, 45, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Teacher.description, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group row">
                            @Html.Label("Birthday ", htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                            <div class="col-md-7">
                                @Html.EditorFor(model => model.birthday, new { htmlAttributes = new { @class = "form-control", type = "date" } })
                                @Html.ValidationMessageFor(model => model.birthday, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group row">
                            @Html.Label("Gender ", htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                            <div class="col-md-7">
                                @Html.DropDownListFor(model => model.gender, new SelectListItem[] { new SelectListItem() { Text = "Female", Value = "Female" }, new SelectListItem() { Text = "Male", Value = "Male" } }, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.gender, "", new { @class = "text-danger" })
                            </div>
                        </div>


                        <div class="form-group row">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Save" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <!-- Your Profile Views Chart END-->
</div>

