@model Online_Academy.Models.User
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_adminLayoutPage.cshtml";
}

<div class="card-header">
    Search
    @using (Html.BeginForm("Index", "Teacher", FormMethod.Get))
    {
        <input type="text" name="txtSearch" placeholder="Search!" />
        <button type="submit" class="btn btn-warning">Search</button>
    }
</div>

<!--<div class="row">-->
    <!-- Your Profile Views Chart -->
    <!--<div class="col-lg-12 m-b30">
        <div class="widget-box">
            <div class="wc-title">
                <h4>Teacher</h4>
            </div>
            <div class="widget-inner">
                @foreach (var item in ViewBag.lstTeacher)
                {
                    <div class="card-courses-list admin-courses">
                        <div class="card-courses-media">
                            @if (item.avatar == null)
                            {
                                <img src="~/Assets/Admin/images/courses/pic1.jpg" alt="" />
                            }
                            else
                            {
                                <img src="@item.avatar" style="height: 215px" alt="" />
                            }

                        </div>
                        <div class="card-courses-full-dec">
                            @if (item.state == true)
                            {
                                <div class="card-courses-title">
                                    <h4>@item.name</h4>
                                </div>
                            }
                            else
                            {
                                <div class="card-courses-title" style="color:red">
                                    <h4>@item.name</h4>
                                </div>
                            }
                            <div class="row card-courses-dec">
                                <div class="col-md-12">
                                    <h6 class="m-b10">@item.major</h6>
                                    <p>Contact: @item.email</p>
                                </div>
                                <div class="col-md-12">
                                    <button class="btn green radius-xl outline approveBtn" data-id="@item.id">Approve</button>
                                    <button class="btn red outline radius-xl cancelBtn" data-id="@item.id">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>-->
    <!-- Your Profile Views Chart END-->
<!--</div>-->

<!-- Page Content Box ==== -->
<div class="content-block">
    <!-- Blog Grid ==== -->
    <div class="section-area section-sp1">
        <div class="container">
            <div class="ttr-blog-grid-3 row" id="masonry">
                @foreach (var user in ViewBag.lstTeacher)
                {
                    <div class="post action-card col-lg-4 col-md-6 col-sm-12 col-xs-12 m-b40">
                        <div class="recent-news">
                            <div class="action-box">
                                @if (user.avatar == null)
                                {
                                    <img src="https://www.wellandgood.com/wp-content/uploads/2020/02/GettyImages-1073797276.jpg" alt="">
                                }
                                else
                                {
                                    <img src="@user.avatar" style="height: 250px" alt="">
                                }

                            </div>
                            <div class="info-bx">
                                <ul class="media-post">
                                    <li>Id: @user.id</li>
                                    <li><i class="fa fa-calendar"></i>@user.date_join</li>
                                </ul>
                                @if (user.state == true)
                                {
                                    <h5 class="post-title">@user.username</h5>
                                }
                                else
                                {
                                    <h5 class="post-title" style="color:red">@user.username</h5>
                                }
                                <p>Major: @user.major</p>
                                <p>Contact: @user.name</p>
                                <p>Contact: @user.email</p>
                                <div class="post-extra">
                                    <button type="button" class="btn btn-adn approveBtn" data-id="@user.id">Approve</button>
                                    <button type="button" class="btn outline radius-md cancelBtn" data-id="@user.id">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }


            </div>
            <!-- Pagination ==== -->
            @*<div class="pagination-bx rounded-sm gray clearfix">
                    <ul class="pagination">
                        <li class="previous"><a href="#"><i class="ti-arrow-left"></i> Prev</a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li class="next"><a href="#">Next <i class="ti-arrow-right"></i></a></li>
                    </ul>
                </div>*@

            <div class="card-footer">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">

                        @{
                            int position;
                            int pageCurrent = ViewBag.pageCurrent;
                            string txtSearch = ViewBag.txtSearch;
                            float numSize = ViewBag.numSize;
                            if (pageCurrent > 1)
                            {
                                <li class="page-item">
                                    <a class="page-link" href="@Url.Action("Index", "Teacher", new { txtSearch = (txtSearch != "" ? txtSearch : null), page = pageCurrent-1 })" tabindex="-1">Previous</a>
                                </li>
                            }

                            for (position = 1; position <= numSize; position++)
                            {

                                if (position == pageCurrent)
                                {
                                    <li class="page-item active"><a class="page-link" href="@Url.Action("Index", "Teacher", new { txtSearch = (txtSearch != "" ? txtSearch : null), page = position })">@position</a></li>
                                }

                                else
                                {
                                    <li class="page-item"><a class="page-link" href="@Url.Action("Index", "Teacher", new { txtSearch = (txtSearch != "" ? txtSearch : null), page = position })">@position</a></li>
                                }

                            }
                            if (pageCurrent > 0 && pageCurrent < numSize)
                            {
                                <li class="page-item">
                                    <a class="page-link" href="@Url.Action("Index", "Teacher", new { txtSearch = (txtSearch != "" ? txtSearch : null), page = pageCurrent+1 })" tabindex="-1">Next</a>
                                </li>
                            }

                        }

                    </ul>
                </nav>
            </div>

            <!-- Pagination END ==== -->
        </div>
    </div>
    <!-- Blog Grid END ==== -->
</div>
<!-- Page Content Box END ==== -->

@section script {
    <script src="~/Assets/Admin/js/manageTeacher.js"></script>
}

