@model Online_Academy.Models.Course

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Teacher/Views/Shared/_Layout.cshtml";
}

<main class="ttr-wrapper">
    <div class="container-fluid">
        <div class="db-breadcrumb">
            <h4 class="breadcrumb-title">Add listing</h4>
            <ul class="db-breadcrumb-list">
                <li><a href="#"><i class="fa fa-home"></i>Home</a></li>
                <li>Edit Course</li>
            </ul>
        </div>

        <div class="row">
            <!-- Your Profile Views Chart -->
            <div class="col-lg-12 m-b30">
                <div class="widget-box">
                    <div class="wc-title">
                        <h4>Add listing</h4>
                    </div>

                    <div class="widget-inner">
                        <form class="edit-profile m-b30" enctype="multipart/form-data" id="upload">
                            <div class="row">
                                <div class="col-12">
                                    <div class="ml-auto">
                                        <h3>1. Basic info</h3>
                                        @Html.HiddenFor(model => model.id, new { @id = "id" })
                                    </div>
                                </div>
                                <div class="form-group col-12">
                                    <label class="col-form-label">Name Course</label>
                                    <div>
                                        @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control", @id = "namecourse" } })
                                    </div>
                                </div>
                                <div class="form-group col-12">
                                    <label class="col-form-label">Category</label>
                                    <div>
                                        @Html.DropDownListFor(model => model.id_subcat, (SelectList)ViewBag.id_subcat, htmlAttributes: new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="form-group col-6">
                                    <label class="col-form-label">Price</label>
                                    <div>
                                        @Html.EditorFor(model => model.price, new { htmlAttributes = new { @class = "form-control" ,@id="price" } })
                                    </div>
                                </div>
                                <div class="form-group col-6">
                                    <label class="col-form-label">Discount</label>
                                    <div>
                                        @Html.EditorFor(model => model.discount, new { htmlAttributes = new { @class = "form-control", @id = "discount" } })
                                    </div>
                                </div>

                                <div class="seperator"></div>

                                <div class="col-12 m-t20">
                                    <div class="ml-auto m-b5">
                                        <h3>2. Description</h3>
                                    </div>
                                </div>

                                <div class="form-group  col-6">
                                    <label class="col-form-label">Thumbnail Description</label>
                                    <div>

                                        <input type="file" name="fileimg" id="fileimg" accept="image/*" />
                                    </div>
                                </div>
                                @if (Model.thumbnail == null)
                                {
                                    <div class="form-group col-6" >
                                        <div id="imgPreview" class="thumbnail" style="display:none">
                                            <img  class="img-responsive" id="targetImg" />

                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="form-group col-6">
                                        <div id="imgPreview" class="thumbnail">
                                            <img src="~/Assets/Pictures/ImagesCourse/@Model.thumbnail" class="img-responsive" id="targetImg" />

                                        </div>
                                    </div>
                                }

                                <div class="form-group col-6">
                                    <label class="col-form-label">Preview</label>
                                    <div>
                                        <input type="file" name="preview" id="preview" accept="video/*" />
                                    </div>
                                </div>
                                @if (Model.preview == null)
                                {
                                    <div class="form-group col-6">
                                        <video width="300" height="300" controls id="videopreview" style="display:none">
                                        </video>
                                    </div>
                                }
                                else
                                {
                                    <div class="form-group col-6">
                                        <video width="300" height="300" controls id="videopreview">
                                            <source src="~/Assets/Videos/@Model.preview" />
                                        </video>
                                    </div>
                                }
                                <div class="form-group col-12">
                                    <label class="col-form-label">Course short description</label>
                                    <div>
                                        @Html.TextAreaFor(model => model.short_description, new { @class = "form-control", @id = "shortdes" })
                                    </div>
                                </div>
                                <div class="form-group col-12">
                                    <label class="col-form-label">Course description</label>
                                    <div>
                                        @Html.TextAreaFor(model => model.description, new { @class = "form-control", @id = "description" })
                                    </div>
                                </div>
                                <div class="col-12 m-t20">
                                    <div class="ml-auto">
                                        <h3 class="m-form__section">3. Add Item</h3>
                                    </div>
                                </div>
                                <div class="col-12">
                                    @Html.Partial("~/Areas/Teacher/Views/TeacherCourses/Chapter.cshtml");

                                </div>
                                <div class="col-12">
                                    <button type="button" class="btn-secondry add-item m-r5"><i class="fa fa-fw fa-plus-circle"></i>Add Item</button>
                                    <button type="button" class="btn btn-draft" id="btn-draft">Save draft</button>
                                    <button type="button" class="btn btn-postcourse" id="btn-post">Post</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Your Profile Views Chart END-->
        </div>

    </div>
</main>
@*@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Course</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id)

        <div class="form-group">
            @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.short_description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.short_description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.short_description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.thumbnail, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.thumbnail, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.thumbnail, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.preview, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.preview, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.preview, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.id_teacher, "id_teacher", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("id_teacher", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.id_teacher, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.id_subcat, "id_subcat", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("id_subcat", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.id_subcat, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.state, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.state)
                    @Html.ValidationMessageFor(model => model.state, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.price, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.price, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.price, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.discount, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.discount, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.discount, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}*@

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
