
<div class="widget-inner" id="course">
    @foreach (var item in ViewBag.listCourses)
    {
        var price = item.course.price - (item.course.price * item.course.discount) / 100;
        <div class="card-courses-list admin-courses">
            <div class="card-courses-media">
                <img src="~/Assets/Pictures/ImagesCourse/@item.course.thumbnail" alt="" />
            </div>
            <div class="card-courses-full-dec">
                <div class="card-courses-title">

                    <h4>
                        <a href="@Url.Action("Details","TeacherCourses",new { id = item.course.id })">@item.course.name</a>
                        @if (item.course.discount != 0)
                        {
                            <span class="vc">-@item.course.discount%</span>
                        }

                    </h4>

                    <div class="card-courses-list-bx">
                        <ul class="card-courses-view">
                            <li class="card-courses-user">
                                <div class="card-courses-user-pic">
                                    <img src="~/Assets/Pictures/ImagesUser/@item.teacher.avatar" alt="" />
                                </div>
                                <div class="card-courses-user-info">
                                    <h5>Teacher</h5>
                                    <h4>@item.teacher.name</h4>
                                </div>
                            </li>
                            <li class="card-courses-categories">
                                <h5>3 Categories</h5>
                                <h4>Backend</h4>
                            </li>
                            <li class="card-courses-review">
                                <h5>3 Review</h5>
                                <ul class="cours-star">
                                    <li class="active"><i class="fa fa-star"></i></li>
                                    <li class="active"><i class="fa fa-star"></i></li>
                                    <li class="active"><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                            </li>
                            <li class="card-courses-stats">
                                @if (item.course.state == false)
                                {
                                    <a href="#" class="btn button-sm green radius-xl">Pending</a>
                                }
                            </li>
                            <li class="card-courses-price">
                                <del>@item.course.price$</del>
                                <h4 class="text-primary">@price$</h4>

                            </li>
                        </ul>
                    </div>
                    <div class="row card-courses-dec">
                        <div class="col-md-12">
                            <h6 class="m-b10">Course Description</h6>
                            <p>@item.course.short_description</p>
                        </div>
                        <div class="col-md-12">
                            <a href="@Url.Action("Edit","TeacherCourses",new { id = item.course.id })" class="btn green radius-xl outline">Edit</a>
                            <a href="#" class="btn red outline radius-xl btn-delcourse" data-idcourse="@item.course.id">Delete</a>
                        </div>
                    </div>



                </div>
            </div>
        </div>
    }
</div>
